h1, h2, h3, h4, h5, h6{
  margin:1rem 0;
  font-family:'unitext', helvetica neue, helvetica, sans-serif;
}

p, a{
  font-family:'unitext', helvetica neue, helvetica, sans-serif;
}

html{
  font-size: calc(8 * 100vw / 320);
  width: calc(0vw + 100%);
}

@media screen and (min-width: 667px), screen and (min-aspect-ratio: 13/9){
  html {
      font-size: calc(12 * 100vw / 667);
  }
}

@media screen and (min-width:768px) {
  html{
    font-size: calc(16 * 100vw / 768);
  }
}

@media screen and (min-width: 1025px){
  html {
      font-size: calc(20 * 100vw / 1440);
  }
}

@media screen and (min-width: 1440px){
  html {
      font-size: calc(24 * 100vw / 1920);
  }
}