.insert-wrap{
  width:100%;
  font-family: stymie-condensed, Georgia, serif;
  font-weight: 500;
  font-style: normal;
  font-weight: 500;
  padding: 1vw;
  text-align: center;
}

h1{
  font-size: 4rem;
  max-width: 66.6rem;
  margin: 2rem auto;
  color: #efefef;
}

a{
  text-decoration: none;
}

html{
  font-size: calc(16 * 100vw / 1440);
}

body{
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  top: 0;
  display: flex;
  position: absolute;
  align-items: center;
}

.row{
  display: flex;
  flex-direction: row;
  width: 100%;
  flex-wrap: wrap;
  justify-content: center;
  /*max-width:1200px;*/
  margin:0 auto;
}

.card{
  background-color: black;
  background-size: cover;
  background-position: center;
  margin: 0px 4px 4px 0px;
  width: 230px;
  height: 155px;
  display: flex;
  flex-shrink: 0;
  flex-grow: 1;
  justify-content: center;
  align-items: flex-end;
  cursor: pointer;
}

.card img{
	width:inherit;
}

.card:hover .button{
  visibility:visible;
}

.card .button{
  background:red;
  color:white;
  font-family:'futura';
  font-weight:600;
  padding:10px 15px;
  visibility:hidden;
}



@media screen and (min-width:480px){
  .card{
    max-width:50vw;
  }
}

@media screen and (min-width:717px){
  .card{
    max-width:32vw;
  }
}

@media screen and (min-width:956px){
  .card{
    max-width:25vw;
  }
}

@media screen and (min-width:1192px){
  .card{
    flex-basis:20%;
    max-width:20vw;
    height: 175px;
  }
}

@media screen and (min-width:1440px){
  .card{
    height: 200px;
  }
}