.insert-wrap{
  width:100%;
  font-family: stymie-condensed, Georgia, serif;
  font-weight: 500;
  font-style: normal;
  text-align: center;
}

h1{
  font-size: 4rem;
  max-width: 66.6rem;
  margin: 2rem auto;
  color: #efefef;
}

html{
  font-size: calc(16 * 100vw / 1440);
}

body{
  width:100%;
  height:100%;
  margin:0;
  padding:0;
}

.row{
  display: flex;
  flex-direction: row;
  width: 100%;
  flex-wrap: wrap;
  justify-content: center;
}

.card{
  background-color: black;
  background-size: cover;
  background-position: center;
  margin: 1vw .5vw;
  max-width: 32vw;
  min-width: 320px;
  height: 180px;
  display: flex;
  flex-shrink: 0;
  flex-grow: 1;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.card img{
	width:inherit;
}

.card:hover .button{
  visibility:visible;
}

.card .button{
  background:red;
  color:white;
  font-family:'futura';
  font-weight:600;
  padding:10px 15px;
  visibility:hidden;
}

@media screen and (max-width:669px){
  .card{
    max-width:50vw;
  }
}

@media screen and (min-width:1349px){
  .card{
    max-width:25vw;
  }
}

@media screen and (min-width:1699px){
  .card{
    max-width:20vw;
  }
}