.insert-wrap{
  width:100%;
  font-family: stymie-condensed, Georgia, serif;
  font-weight: 500;
  font-style: normal;
  font-weight: 500;
  padding: 1vw;
  text-align: center;
}

h1{
  font-size: 4rem;
  max-width: 66.6rem;
  margin: 2rem auto;
  color: #efefef;
}

a{
  text-decoration: none;
}

body{
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  top: 0;
  display: flex;
  position: absolute;
  align-items: center;
}

.row{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: 100%;
  max-width:1200px;
  justify-content: center;
  margin:0 auto;
}

.card{
  background-color: black;
  background-size: cover;
  background-position: center;
  margin: 0px 4px 4px 0px;
  height: 0;
  padding-top:56.25%;
  display: flex;
  flex-shrink: 0;
  flex-grow: 1;
  justify-content: center;
  align-items: center;
}

.card img{
	width:inherit;
}

.card:hover .button{
  opacity:1;
}

.card .button{
  opacity: 0;
  height:0px;
  padding-top: 56.25%;
  transform: translateY(-49%);
  width: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  color: mediumspringgreen;
  border: 2px solid mediumspringgreen;
  font-size:1.25rem;
  transition: opacity .75s;
  font-family: 'futura', helevtica neue;
  line-height: 2rem;
  padding-right: 10px;
  font-weight: 600;
}

@media screen and (max-width:768px){
  h1.headline-1{
    font-size: 2.75rem;
    line-height: 2.85rem;
  }
  body{
    align-items:flex-start;
  }
  .row{
      grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (min-width:1168px){
  .row{
      grid-template-columns: repeat(4, 1fr);
  }
}
